<nav class="sidebar" [class.expanded]="isExpanded">

  <!-- Toggle Button -->
  <button class="toggle-btn" (click)="toggle()">
    <i class="pi"
       [ngClass]="isExpanded ? 'pi-angle-left' : 'pi-angle-right'">
    </i>
  </button>

  <!-- Logo -->
  <div class="logo-container">
    <img src="assets/logo3.png" alt="Logo">
    <span class="brand-name">Auto Brilho</span>
  </div>

  <!-- Links -->
  <a routerLink="/dashboard" routerLinkActive="active">
    <i class="pi pi-home"></i>
    <span class="label">Dashboard</span>
  </a>

  <a routerLink="/customers" routerLinkActive="active">
    <i class="pi pi-users"></i>
    <span class="label">Clientes</span>
  </a>

  <a routerLink="/services" routerLinkActive="active">
    <i class="pi pi-briefcase"></i>
    <span class="label">Serviços</span>
  </a>

</nav>