
.layout-container{ 
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  background: linear-gradient(135deg, #020617 0%, #1e1b4b 100%);
}

.content{
    flex: 1;
    padding: 15px;
    background-color: #F9FAFB ;
    overflow-y: auto;
}
