<div class="header">
  <div class="titulo-page">
    <mat-icon class="custom-icon-header">group</mat-icon>
    <span >Clientes</span>
  </div>
  <div class="cont-actions">
    <mat-icon style="color: #ffffff">chat</mat-icon>
    <div class="profile-custom">
      <mat-icon class="custom-icon">account_circle</mat-icon>
      <div class="container-labels">
        <span class="label-principal">Kawan Meschick</span>
        <span class="label-profile">Admin</span>
      </div>
    </div>
  </div>
</div>
